$bgSquareColor: #4d5f65 ;
$fontColor: #e6f0ff;
$gooButtom: rgb(39, 134, 90);

.fullcorpus {

    color: $fontColor;
    background-color: $bgSquareColor;

    h3 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;

    }

    p {
        font-family: 'Courier New', Courier, monospace;
        font-size: medium;
    }
}

.github {
    width: 50%;
}



.github {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.cardMstr:hover .github {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
   
}

.button {
    @extend .link-button;
}

.link-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.link-button {
    background-color: $gooButtom;
    color: white;
    text-decoration: none;
    border-radius: 100px;
}

.containerCont {
    display: flex;
    justify-content: center;
    
    width: 830px;
    height: 100%;
}